{% extends "layout.html" %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to RandomEpisode</h1>
    <p>Need something to watch during breakfast, lunch or a business meeting? RandomEpisode picks a random episode from your personalized list of favorite TV shows. Once that's done, it
      marks it as watched, so that you won't get it again!</p>
<!--     <p>
    <form class="form-inline" method="post">
      <div class="form-group">
        <input type="text" name="user" placeholder="" class="form-control" size="50">
      </div>
      <button type="submit" class="btn btn-success">Sign in</button>
    </form>
    </p> -->
    <p><a class="btn btn-primary btn-lg" href="new" role="button">Get started!</a></p>
  </div>
</div>

{% endblock %}